@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.background_image {
  position: relative;
}

.background_image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/bg_img.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}


.input_otp {
  width: 78px !important;
  height: 48px !important;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin-right: 6px;
}


.banner_bg {
  background-image: url('/banner_bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px !important;
}

.banner_slide .swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #888888 !important;
  border-radius: 50% !important;
  right: 2rem !important;
}

.banner_slide .swiper-button-next:after {
  content: url('/next.png') !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 3px !important;
}

.banner_slide .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: #888888 !important;
  border-radius: 50% !important;
  left: 2rem !important;
}

.banner_slide .swiper-button-prev:after {
  content: url('/prev.png') !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 3px !important;
}


.banner_slide .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 6rem !important;
}

.banner_slide .swiper-pagination-bullet-active {
  background-color: #EB671E !important;
}


.shape_skew1 {
  position: relative;
  width: 220px;
  padding: 2px 0px 2px 10px;
  background: #2FA9D6;
  z-index: 0;
}

.shape_skew1:after {
  content: " ";
  position: absolute;
  display: block;
  width: 55px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #2FA9D6;
  transform-origin: bottom left;
  -ms-transform: skew(-35deg, 0deg);
  -webkit-transform: skew(-35deg, 0deg);
  transform: skew(-35deg, 0deg);
}

.shape_skew2 {
  position: relative;
  width: 270px;
  padding: 20px 0px 2px 10px;
  background: #255f8d;
  z-index: 0;
}

.shape_skew2:after {
  content: " ";
  position: absolute;
  display: block;
  width: 130px;
  height: 100%;
  top: 0;
  right: -72px;
  z-index: -1;
  background: #255f8d;
  transform-origin: bottom left;
  transform: skew(37deg, 0deg);
  -ms-transform: skew(37deg, 0deg);
  -webkit-transform: skew(37deg, 0deg);

}


.shape_skew3 {
  position: relative;
  width: 160px;
  padding: 8px 0px 8px 25px;
  background: #2FA9D6;
  z-index: 3;
  top: -1.5rem;
}

.shape_skew3:after {
  content: " ";
  position: absolute;
  display: block;
  width: 130px;
  height: 100%;
  top: 0;
  right: -72px;
  z-index: -1;
  background: #2FA9D6;
  transform-origin: bottom left;
  transform: skew(39deg, 0deg);
  -ms-transform: skew(39deg, 0deg);
  -webkit-transform: skew(39deg, 0deg);
}


.box_shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.card_box::before {
  content: '';
  position: absolute;
  top: -0.70rem;
  left: -0.65rem;
  width: 320px;
  height: 100%;
  border: 4px solid #EB671E;
  border-radius: 2px;
  z-index: 0;
}


.sports_card:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('/sports_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 160px;
  height: 200px;
  z-index: 3;
}

.sports_card:after {
  content: '';
  position: absolute;
  background-image: url('/sports_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 160px;
  height: 200px;
  z-index: 3;
  bottom: 0rem;
  left: 0;
  transform: rotate(180deg);
}


.sports_CenterSlider .swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-bottom: 1.5rem;
}

.sports_CenterSlider .swiper-pagination-bullet-active {
  background-color: #EB671E !important;
}

.sports_CenterSlider .swiper-pagination-bullet {
  background-color: #dfdfdf;
  opacity: 1 !important;
}

.sports_bgimg {
  background-image: url('/sports_bg2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.gradient_bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.8%, rgba(0, 0, 0, 0.8) 72.5%);
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}

.dot_bg {
  position: relative;
}

.dot_bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/dot1.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.dot_bg:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('/dot1.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  z-index: -1;
  transform: rotate(180deg);
}

.mySwiper2 {
  height: 62vh;
}

.mySwiper3 {
  height: 69vh;
}

.mySwiper2 .swiper-wrapper {
  height: 62vh;
}

.mySwiper3 .swiper-wrapper {
  height: 69vh;
}

.mySwiper2 .swiper-slide {
  height: unset !important;
}

.mySwiper3 .swiper-slide {
  height: unset !important;
}



/* width */
.scroll_custom::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll_custom::-webkit-scrollbar-track {
  background-color: #DFDFDF;
  border-radius: 10px;
}

/* Handle */
.scroll_custom::-webkit-scrollbar-thumb {
  background: #767676;
  border-radius: 10px;
}


.calendar_box .react-calendar {
  width: 100%;
  height: 530px;
  background-color: #255f8d !important;
  border-radius: 10px !important;
}

.calendar_box .react-calendar__month-view__days {
  height: 400px !important;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  gap: 10px !important;
  justify-content: center !important;
  place-items: center !important;
}

.calendar_box .react-calendar__navigation__prev2-button {
  display: none !important;
}

.calendar_box .react-calendar__navigation__next2-button {
  display: none !important;
}

.calendar_box .react-calendar__navigation__label {
  flex-grow: unset !important;
}

.calendar_box .react-calendar .react-calendar__navigation {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 1em !important;
  position: relative;
}

.calendar_box .react-calendar .react-calendar__navigation__arrow {
  background-color: #EB671E !important;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
  min-width: unset !important;
  font-size: 34px !important;
  color: transparent !important;
  position: relative;
}

.calendar_box .react-calendar__navigation__prev-button:after {
  content: '';
  position: absolute;
  top: 0.35rem;
  right: 0.65rem;
  background-image: url('/shape_img.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.calendar_box .react-calendar__navigation__next-button:after {
  content: '';
  position: absolute;
  top: 0.35rem;
  left: 0.65rem;
  background-image: url('/shape_img.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.calendar_box .react-calendar__month-view__weekdays__weekday {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #FAFAFA !important;
}

abbr:where([title]) {
  text-decoration: none !important;
}

.calendar_box .react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
}

.calendar_box .react-calendar__navigation__label:hover {
  background-color: transparent !important;
}


.calendar_box .react-calendar__month-view__days__day {
  font-size: 18px;
  font-weight: 600;
  color: #FAFAFA;
}

.calendar_box .react-calendar__tile {
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  border-radius: 50% !important;
  padding: 0px !important;
  flex-basis: unset !important;
}

.calendar_box .react-calendar__tile--active {
  background-color: #EB671E !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  padding: 0px !important;
  flex-basis: unset !important;
}

.calendar_box .react-calendar__tile--now {
  background-color: #EB671E !important;
}

.calendar_box .react-calendar__tile:enabled:hover {
  background-color: #EB671E !important;
}